[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "RUST_BACKTRACE=1/lib/ds-test"]
	path = RUST_BACKTRACE=1/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate-next"]
	path = lib/solmate-next
	url = https://github.com/transmissions11/solmate-next
